@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,300;1,400&display=swap");

@import "tailwindcss";

@theme {
  --color-bg-primary: #eeefe0;
  --color-bg-secondary: #d1d8be;
  --color-accent-soft: #a7c1a8;
  --color-accent-main: #819a91;
}

html {
  font-family: "Playfair Display", "Geist", "Inter", sans-serif;
  --default-font-family: "Playfair Display", "Geist", "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-primary);
  color: #3d4035;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
:root {
  --nav-height: 72px;
}
